<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CopyPasteKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB42A6CA1E87DBB400BF32D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB42A6DE1E87DBB400BF32D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB42A6E91E87DBB400BF32D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
